<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>vue_sample</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

<div id="app">

<p v-show="toggle">
Hello
</p>
<ul>
<li v-for="value in object">
    {{ value }}
  </li>
</ul>
<button v-on:click="say('おはよ！！')">Say hi</button>
  <button v-on:click="say('よろしく！！')">Say what</button>
  <p>
    <input type="text" v-model="message">
  </p>
  <p>
    {{message}}
  </p>
</div>




<script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
<script src="index.js"></script>
</body>
</html>
