#app ul {
  list-style: none;
  transform: translateZ(0);
}

#app li>span.done {
  text-decoration: line-through;
}

.wrapper {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */
  max-width: 960px; /* 2 */
  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
}

header {
  height: 40px;
  width:100%;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-top:10px;
  background-color: #ffc0cb;
}

h2{
  font-size:28px;
}


input[type=text]{
  border:0;
  padding:10px;
  font-size:1.3em;
  font-family:Arial, sans-serif;
  color:#aaa;
  border:solid 1px #ccc;
  margin:0 0 20px;
  width:300px;
}

.addbotton {
  border:solid 1px #ccc;
  padding:11px 30px;
  margin:0 0 20px;
  font-family:Arial, sans-serif;
  font-size:1.2em;
  text-transform:uppercase;
  font-weight:bold;
  color:#333;
  cursor:pointer;
}
